.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px; /* Kartın maksimum genişliği */
    margin: 10px; /* Kartlar arası boşluk */
    background-color: #1C1C22;
    padding: 10px;
    border-radius: 10px;
    
  }
  .imagecontainer{
    width: 100px;
    height: 66px;
    
  }
  .image {
    width: 56px;
    height: 66px;
    
  }
  .title {
    margin-top: 10px; /* İsteğe bağlı: Başlık ile resim arasındaki boşluk */
    word-wrap: break-word; /* Başlığın kartın dışına çıkmasını engeller */
    color: #fff;
    text-align: center;
  }
  